[Service]
WorkingDirectory=/home/jared/remote-compute-access/raspi-app
ExecStart=/home/jared/remote-compute-access/raspi-app/entrypoint.sh
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=raspi-app
User=root
Group=root
Environment="RASPI_APP_LAUNCH_PATH=/home/jared/remote-compute-access/raspi-app/launch.py"
Environment="RASPI_APP_VENV_PATH=/home/jared/remote-compute-access/venv"
[Install]
WantedBy=multi-user.target
